/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%;
} 

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgray;
    vertical-align: middle;
    text-align: center;
    margin: 10;
    padding: 0%;
    font-size: 40px;
}

section#resau

 .navigation{background-color: coral;}


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: plum;
    vertical-align: middle;
    text-align: center;
    margin: 10;
    padding: 0;
    font-size: 30px;
    
}
 