/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%;
}
body{
  background-color: gainsboro;
}
.wrapper{
  display: grid;
}
.bannière{
  height: 100px;
  width: 100%;
}
.icon{
  padding: 3%;
  padding-left: 15% ;
  height: 40px;
  width: 40px;
}
.boxinitial{
  text-align: center;
  font-family: cursive;
  color:#b1570e8c ;
  font-size: 100%;

}

h1{
  color: rgba(0, 0, 0, 0.644);
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  padding: 3%;

}

.box4{
  padding: 5%;
  background-color: #b1570e8c;
  font-family: 'Roboto', sans-serif;
  text-align: justify;

}

h2{
  color: rgba(0, 0, 0, 0.644);
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

h4{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.image{
  height: 300px;
  width: 100%;
}

.box8{
  padding: 5%;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  
}

.deco{
  padding: 8%;
  margin: 4%;
  padding-left: 40% ;
  height: 70px;
  width: 60px;
}

.box11{
  padding: 3%;
}

.box12{
  padding: 5%;
  background-color: #b1570e8c;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.exposition{
  padding: 3%;
  height: 230px;
  width: 100%;
}

.box13{
  font-family: 'Roboto', sans-serif;
  padding: 3%;
}

.boxZ{
  padding: 10%;
  padding-bottom: 10%;
  background-color: #b1570e8c;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.644);
}

.active{
  color: black;
}

.crédits{
  background-color: #b1570e8c;
   text-align: center;
   font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.644);
}

.boxend{
  text-align: center;
}

footer{
  padding: 5%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
}

a{
  text-decoration: none;
  color:#b1570e8c; 
}

a:hover{
  color:#39665b;
}

@media screen and ( min-width:900px){

  .bannière{
    height: 200px;
    width: 100%;
  }
.boxinitial{

  text-align: center;
  font-family: cursive;
  color: #39665b;
  font-size: 150%;
}
  a{
    font-size: 150%;
  }

  .icon{
    padding: 3%;
    padding-left: 20% ;
    height: 40px;
    width: 40px;
  }

  .box4{
    grid-column-end: 3;
    padding: 2%;
    background-color: #b1570e8c;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
  
  }
  .deco{
    padding: 6%;
    margin: 2%;
    padding-left: 45% ;
    height: 115px;
    width: 100px;
  }
  .box8{

    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-align: center;
    background-color:#39665b ;
    color: white;
    
  }
 
  .image{
    grid-column-start: 3;
    grid-row-start: 3;
    height: 350px;
    width: 70%;
    padding-left: 15%;
  }

  .exposition{
    padding: 5%;
    height: 250px;
    width: 80%;
  }

  
}

