/*Haut de Page*/

html,body {
    margin: 0%;
    padding: 0%
}
.wrapper{
    display: grid;
}


.crédits{
    background-color: #b1570e8c;
    padding: 5%;
     text-align: center;
     text-align: justify;
     font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.644);
  }

.remerciements{
    font-style: italic;
}
.box1{
    background-color: gainsboro;
}

.deco{
    padding: 0%;
   height: 130px;
    width: 100%;
}
.logo{
    padding: 8%;
    margin: 4%;
    padding-left: 40% ;
    height: 70px;
    width: 60px;
  }

footer{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #b1570e8c;
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:#b1570e8c; 
}
a:hover{
    color: teal;
}


@media screen and ( min-width:900px){
    .deco{
        padding: 0%;
       height: 200px;
        width: 100%;
    }
    .logo{
        padding: 8%;
        margin: 4%;
        padding-left: 40% ;
        height: 100px;
        width: 100px;
      }

}

